<h1>Sign In</h1>

<form action="/session" method="post">

  <label for="user_email">Email:
    <input type="text" name="user[email]" value="" id="user_email">
  </label>
  <br>

  <label for="pw">Password:
    <input type="password" name="user[password]" value="" id = "pw">
  </label>
  <br>

  <input type="submit" value="Sign in">

</form>
