<h1>Sign Up!</h1>

<form action="<%= users_url %> " method="post">

  <label for="">Name:
    <input type="text" name="user[name]" value="">
  </label>
  <br>

  <label for="user[:email]">Email:
    <input type="text" name="user[email]" value="">
  </label>
  <br>

  <label for="">Password:
    <input type="password" name="user[password]" value="">
  </label>
  <br>

  <input type="submit" value="Create Account">
</form>
